<% layout("Layouts/boilerplate") %>
<body>
   <div class="row">
    <div class="col-4">
       <div class="card" style="width: 18rem;">
       <img class="card-img-top" src="<%= info.image.url %>" alt="Card image cap">
      <div class="card-body">
    <h5 class="card-title mt-2"> <%= info.title  %> </h5>
    <p class="card-text">
      <p>
        <%= info.description  %> <br>
        <%= info.price.toLocaleString("en-BD")  %> <br>
        <%= info.location  %> <br>
        <%= info.country  %>
      </p>
  </div>
  <div class="row">
      <div class="col-4">
        <form method="get" action="/listing/<%= info._id %>/edit">
    <button class="btn btn-dark">Edit</button>
    </form>
    </div>
    <div class="col-8">
    <form method="post" action="/listing/<%= info._id  %>/delete?_method=DELETE">
      <button class="btn btn-dark">Delete </button>
    </form>
  </div>
     
  </div>
  </div>
  </div>
</div>
  
 
</body>
